public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.renderer.texture.TextureAtlasSprite$InterpolationData
public net.minecraft.client.renderer.texture.TextureAtlasSprite$AnimatedTexture
public net.minecraft.client.renderer.texture.TextureAtlasSprite$FrameInfo
public net.minecraft.client.renderer.texture.TextureAtlasSprite$FrameInfo f_174771_ # index
public net.minecraft.client.renderer.texture.TextureAtlasSprite$FrameInfo f_174772_ # time
public net.minecraft.client.renderer.texture.TextureAtlasSprite$AnimatedTexture f_174748_ # frame
public net.minecraft.client.renderer.texture.TextureAtlasSprite$AnimatedTexture f_174749_ # subFrame
public net.minecraft.client.renderer.texture.TextureAtlasSprite$AnimatedTexture f_174750_ # frames
public net.minecraft.client.renderer.texture.TextureAtlasSprite$AnimatedTexture f_174751_ # frameRowSize
public net.minecraft.client.renderer.texture.TextureAtlasSprite f_174723_ # width
public net.minecraft.client.renderer.texture.TextureAtlasSprite f_174724_ # height
public net.minecraft.client.renderer.texture.TextureAtlasSprite f_118342_ # mainImage
public com.mojang.blaze3d.platform.NativeImage f_84964_ # pixels
public net.minecraft.client.renderer.texture.TextureAtlasSprite m_118375_(II[Lcom/mojang/blaze3d/platform/NativeImage;)V # upload
public net.minecraft.world.level.chunk.PalettedContainer$Data
public net.minecraft.world.level.chunk.PalettedContainer$Configuration
public net.minecraft.client.renderer.FogRenderer$FogData
public net.minecraft.client.renderer.FogRenderer$MobEffectFogFunction
public net.minecraft.client.renderer.texture.Stitcher$Holder
public net.minecraft.world.level.biome.Biome$ClimateSettings

public com.mojang.blaze3d.vertex.PoseStack$Pose <init>(Lcom/mojang/math/Matrix4f;Lcom/mojang/math/Matrix3f;)V # Pose
public net.minecraft.client.gui.font.FontSet$GlyphInfoFilter

public net.minecraft.world.level.GrassColor f_46413_ # pixels
public net.minecraft.world.level.FoliageColor f_46104_ # pixels
public net.minecraft.client.renderer.FogRenderer m_234165_(Lnet/minecraft/world/entity/Entity;F)Lnet/minecraft/client/renderer/FogRenderer$MobEffectFogFunction; # getPriorityFogFunction

# legacy
public com.mojang.blaze3d.vertex.VertexFormat f_86013_ # offsets