modLoader="javafml"
loaderVersion="[47,)"
license="LGPL-3.0-only"
[[mods]]
modId="embeddium"
version="${version}"
displayName="Embeddium"
logoFile="icon.png"
description='''
Embeddium is a fork of Rubidium, a fork of Sodium with patches for Forge
'''
credits="embeddedt, NanoLive, CaffeineMC"
authors="embeddedt"

[[mods]]
modId = "rubidium"
version = "0.7.1"
displayName = "Rubidium (Embeddium)"
description = '''
Stub, to allow mods detecting Rubidium to function as expected.
'''

# Enforce new enough Oculus
[[dependencies.embeddium]]
modId = "oculus"
mandatory = false
versionRange = "(1.6.15,)"
ordering = "BEFORE"
side = "CLIENT"

# The new config screen supersedes TexTrue's Embeddium Options
[[dependencies.embeddium]]
modId = "textrues_embeddium_options"
mandatory = false
versionRange = "[0.0.0-NOT-COMPATIBLE]"
ordering = "BEFORE"
side = "CLIENT"