modLoader="javafml"
loaderVersion="[1,)"
license="LGPL-3.0-only"

[[mixins]]
config="embeddium.mixins.json"

[[mods]]
modId="embeddium"
version="${version}"
displayName="Embeddium"
logoFile="icon.png"
description='''
Embeddium is a performance mod for Minecraft based on the last open-source version of Sodium
'''
credits="embeddedt, NanoLive, CaffeineMC"
authors="embeddedt"

[[dependencies.embeddium]] #optional
modId = "neoforge" #mandatory
type = "required" #mandatory
mandatory = true
versionRange = "[20.6.57-beta,)" #mandatory
ordering = "NONE"
side = "CLIENT"
